@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'), url('../fonts/RobotoMedium.woff2') format('woff2'), url('../fonts/RobotoMedium.woff') format('woff'), url('../fonts/RobotoMedium.ttf') format('truetype'), url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'), url('../fonts/RobotoRegular.woff2') format('woff2'), url('../fonts/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular.ttf') format('truetype'), url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'), url('../fonts/RobotoBold.woff2') format('woff2'), url('../fonts/RobotoBold.woff') format('woff'), url('../fonts/RobotoBold.ttf') format('truetype'), url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBlack.eot');
    src: url('../fonts/RobotoBlack.eot') format('embedded-opentype'), url('../fonts/RobotoBlack.woff2') format('woff2'), url('../fonts/RobotoBlack.woff') format('woff'), url('../fonts/RobotoBlack.ttf') format('truetype'), url('../fonts/RobotoBlack.svg#RobotoBlack') format('svg');
    font-style: normal;
    font-weight: 900;
}

body {
    font-family: "Roboto", sans-serif, "Arial";
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #000000;
    line-height: 22px;
    background-color: #8ba697;
    min-width: 815px;
}

#slider-1:checked~.slider-wrapper {
    background: #8ba697 url("../img/Мороженко 1-slide.png") no-repeat top center;
    /*    background-size: 100%;*/
}

#slider-2:checked~.slider-wrapper {
    background: #8b98a8 url("../img/Мороженко 2-slide.png") no-repeat top center;
    /*    background-size: 100%;*/
}

#slider-3:checked~.slider-wrapper {
    background: #9f8d86 url("../img/Мороженко 3-slide.png") no-repeat top center;
    /*    background-size: 100%;*/
}

.slider-wrapper {
    width: 100%;
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
}

.slider-content {
    position: relative;
}

.slider-wrapper .slider-1,
.slider-wrapper .slider-2,
.slider-wrapper .slider-3 {
    display: none;
}

#slider-1:checked~.slider-wrapper .slider-1,
#slider-2:checked~.slider-wrapper .slider-2,
#slider-3:checked~.slider-wrapper .slider-3 {
    display: block;
}

.slider {
    padding-top: 280px;
    margin-bottom: 40px;
}

.slider b {
    font-size: 60px;
    line-height: 62px;
    font-weight: 800;
    display: block;
    color: #ffffff;
    text-align: center;
    padding-bottom: 35px;
    width: 90%;
    margin: 0 auto;
}

#slider-1,
#slider-2,
#slider-3 {
    display: none;
}

.slider-control {
    font-size: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;
}

.slider-control label {
    display: inline-block;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-right: 5px;
    cursor: pointer;
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
}

.slider-control label:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.slider-control label:active {
    background-color: #ffffff;
}

#slider-1:checked~.slider-wrapper label[for="slider-1"],
#slider-2:checked~.slider-wrapper label[for="slider-2"],
#slider-3:checked~.slider-wrapper label[for="slider-3"] {
    background-color: #ffffff;
}

.wrapper {
    margin: 0 auto;
    width: 95.555%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 18.02%;
    padding-top: 10px;
}

.logo img {
    max-width: 100%;
}

.main-navigation {
    padding-left: 12px;
    float: left;
    padding-top: 23px;
}

.main-navigation .main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    position: absolute;
    width: 45%;
}

.main-menu li {
    display: inline-block;
    vertical-align: top;
}

.main-menu a {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding: 9px 13px;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.main-menu a:hover {
    background-color: #f8f7f4;
    color: #000000;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.main-menu a:active {
    background-color: #f8f7f4;
    color: #000000;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
    text-decoration: none;
}

.main-menu .active {
    background-color: #d07058;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.main-menu .active a {
    text-decoration: none;
}

.main-menu .cataloge {
    position: relative;
}

.main-menu .cataloge::after {
    content: "";
    position: absolute;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 10px;
    bottom: -7px;
    left: 0;
}

.main-menu .sub-menu li {
    display: block;
}

.main-menu .sub-menu .active {
    background-color: #d07058;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #ffffff;
}

.main-menu .sub-menu a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    padding: 8px 0 8px 20px;
    margin: 0;
}

.main-menu .sub-menu span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #000000;
    padding: 12px 0 20px 20px;
    display: block;
    position: relative;
}

.main-menu .sub-menu span::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #ebeae7;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.main-menu .sub-menu a:hover {
    background-color: #fbded7;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.main-menu .sub-menu a:active {
    background-color: #f6b5a5;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.user-block {
    float: right;
    width: 262px;
    padding-top: 23px;
}

.main-menu .sub-menu {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 143px;
    position: absolute;
    z-index: 200;
    display: none;
    margin-top: 5px;
}

.main-menu>li {
    position: relative;
}

.main-menu>li:hover .sub-menu {
    display: block;
}

.user-block .user-information {
    font-size: 0;
    line-height: 0px;
    padding-bottom: 19px;
}

.user-block .user-information a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    vertical-align: top;
}

.user-information a {
    padding-left: 8px;
}

.user-block .menu-information {
    line-height: 0px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding-right: 8px;
    padding-top: 8px;
    background-color: rgba(248, 247, 244, 0.2);
    -webkit-border-radius: 20px;
    border-radius: 20px;
    vertical-align: top;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.user-block .menu-information::after {
    content: "";
    position: absolute;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 10px;
    bottom: -7px;
    left: 0;
}

.user-block .menu-information:last-of-type {
    margin-right: 0;
}

.user-information .search {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding-top: 7px;
    padding-bottom: 3px;
}

.user-information .menu-information:hover a {
    color: #000000;
}

.user-block .menu-information:hover {
    background-color: rgba(248, 247, 244, 1);
    color: #000000;
}

.user-information .search:hover>.search-window {
    display: block;
}

.search-window {
    width: 310px;
    background-color: #f8f7f4;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: none;
    position: absolute;
    z-index: 200;
    right: 0;
    padding: 16px 16px 17px 16px;
    margin-top: 5px;
    top: 100%;
}

.search-window-input {
    width: 310px;
    margin: 0 auto;
    border: 1px solid #d3d3d2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    line-height: 16px;
    font-family: "Roboto", sans-serif, "Arial";
    font-weight: 700;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
}

.input-filled+label,
.search-window-input:focus+label {
    -webkit-transform: translateY(-27px);
    -ms-transform: translateY(-27px);
    transform: translateY(-27px);
    font-size: 11px;
    color: #5b9ddf;
}

.search-window .input-filled+label {
    font-size: 11px;
}

.search-window label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    opacity: 1;
    color: #656565;
    position: absolute;
    top: 10px;
    left: 10px;
}

.search-window-input:hover {
    border: 2px solid #c7c6c5;
}

.search-window-input:focus {
    border: 2px solid #8fbdec;
}

.user-information .search:hover path {
    fill: #000;
}

.user-information .entry {
    padding: 7px 15px;
}

.user-information .entry:hover>.entry-block {
    display: block;
}

.user-information .entry:hover path {
    fill: #000;
}

.entry-block {
    width: 242px;
    background-color: #f8f7f4;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 20px 15px 15px 15px;
    display: none;
    position: absolute;
    z-index: 200;
    right: 0;
    margin-top: 5px;
    top: 100%;
}

.user-information .entry-block a {
    padding: 0;
    text-decoration: underline;
    color: #000000;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
    float: right;
}

.user-information .entry-block a:hover,
.user-information .entry-block a:active {
    color: #ec593c;
}

.entry-input {
    width: 240px;
    margin: 0 auto;
    border: 1px solid #d3d3d2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", sans-serif, "Arial";
    font-weight: 700;
    padding: 8px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.entry-input:hover {
    border: 2px solid #c7c6c5;
}

.entry-input:focus {
    border: 2px solid #8fbdec;
}

.entry-input:focus+label {
    -webkit-transform: translateY(-27px);
    -ms-transform: translateY(-27px);
    transform: translateY(-27px);
    font-size: 11px;
    color: #5b9ddf;
}

.entry-point .input-filled+label {
    font-size: 11px;
}

.entry-point {
    position: relative;
}

.entry-block label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    opacity: 1;
    color: #656565;
    position: absolute;
    top: 10px;
    left: 10px;
}

.user-information .basket {
    width: 100px;
    padding: 7px 0px 7px 17px;
}

.user-information .basket-full {
    background-color: #ffffff;
}

.user-information .basket-full a {
    color: #000000;
}

.user-information .basket:hover d {
    fill: #ec573b;
}

.user-information .basket:hover>.fill-basket {
    display: block;
}

.fill-basket .remove {
    position: relative;
    vertical-align: middle;
}

.fill-basket .remove::before,
.fill-basket .remove::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #949392;
    top: 0;
}

.fill-basket .remove::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fill-basket .remove::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fill-basket .item-name {
    width: 238px;
    padding-left: 10px;
    padding-right: 15px;
    line-height: 15px;
}

.item-select p {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
}

.item-select img {
    margin-left: 27px;
    vertical-align: middle;
}

.item-select p>span {
    padding-left: 5px;
    color: #808080;
}

.item-select .item-cost {
    font-size: 13px;
    margin-left: 20px;
    vertical-align: middle;
}

.fill-basket ul {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e9e8e5;
}

.fill-basket .item-sum {
    font-size: 15px;
    font-weight: 700;
    margin-top: 17px;
    margin-bottom: 20px;
    text-align: right;
}

.user-information .basket:hover path {
    fill: #000;
}

.basket .fill-basket {
    width: 540px;
    background-color: #f8f7f4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    padding: 26px 15px 21px 17px;
    font-size: 0;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 200;
    display: none;
}

.user-block .main-contacts {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
}

.user-block .main-contacts span {
    font-weight: 800;
    font-size: 22px;
}

.features {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.features .feature-item-left {
    width: 48.837%;
    background: #460715 url("../img/%D0%9C%D0%B0%D0%BB%D0%B8%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%84%D0%BE%D0%BD.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 20px 20px 23px 18px;
    color: #ffffff;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 2.326%;
}

.features .feature-item-left b {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 25px;
    display: block;
}

.features .feature-item-left p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    min-height: 66px;
}

.features .feature-item-right {
    width: 48.837%;
    background: #794d30 url("../img/%D0%A8%D0%BE%D0%BA%D0%BE%D0%BB%D0%B0%D0%B4%D0%BD%D1%8B%D0%B9%20%D1%84%D0%BE%D0%BD.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 20px 20px 23px 18px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
}

.features .feature-item-right b {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 25px;
    display: block;
}

.features .feature-item-right p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    min-height: 66px;
}

.btn {
    outline: none;
    border: none;
    color: #ffffff;
    background: -webkit-gradient( linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
    background: -webkit-linear-gradient( left, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background: -o-linear-gradient( left, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif, "Arial";
    line-height: 24px;
    padding: 12px 20px;
    font-size: 17px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    vertical-align: top;
    cursor: pointer;
}

.btn:hover {
    background: -webkit-gradient( linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient( linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
    background: -webkit-linear-gradient( left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), -webkit-linear-gradient( left, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background: -o-linear-gradient( left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), -o-linear-gradient( left, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background: linear-gradient( 90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
}

.btn:active {
    background: -webkit-gradient( linear, left top, right top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient( linear, left top, right top, from(rgb(242, 104, 67)), to(rgb(231, 74, 53)));
    background: -webkit-linear-gradient( left, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%), -webkit-linear-gradient( left, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background: -o-linear-gradient( left, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%), -o-linear-gradient( left, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background: linear-gradient( 90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%), linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.btn-1 {
    float: right;
    margin-top: 21px;
}

.btn-2 {
    float: right;
    margin-right: 25px;
}

.btn-write {
    padding: 12px 30px;
}

.btn-slider {
    padding: 12px 35px;
    margin: 0 auto;
    display: block;
}

.btn-send {
    float: right;
    margin-top: 25px;
}

.btn-entry {
    padding: 6px 30px 10px 25px;
    float: left;
    margin-top: 6px;
}

.btn-item {
    margin-top: 18px;
    width: 100%;
    visibility: hidden;
    -webkit-transition: initial;
    -o-transition: initial;
    transition: initial;
    position: relative;
}

.btn-basket {
    padding: 11px 20px;
    float: right;
}

.btn-filter {
    font-size: 16px;
    font-weight: 500;
    padding: 9px 30px;
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    line-height: 1.15;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
    vertical-align: bottom;
    margin-top: 15px;
}

.btn-filter:hover {
    color: #000000;
    background: #ffffff;
}

.btn-filter:active {
    color: #000000;
    background: #eaeaea;
    -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

.items-list {
    margin-top: 29px;
    font-size: 0;
    margin-right: -10px;
    margin-left: -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.item-catalog {
    padding-bottom: 60px;
}

.item-description {
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-bottom: 22px;
    margin-bottom: -50px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.item-description:hover::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(248, 247, 244, 0.3);
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 200;
}

.item-description:hover>.btn-item {
    visibility: visible;
    z-index: 220;
}

.item-description:hover>a {
    z-index: 220;
}

.item-description:nth-child(4n) {
    margin-right: 0;
}

.item {
    position: relative;
}

.item-description a {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    display: block;
    padding-top: 12px;
    min-height: 68px;
    position: relative;
    /*временно*/
}

.item-description a:hover,
.item-description a:active {
    color: #ffbc9e;
}

.item .ice-cream-item {
    width: 100%;
}

.item::before {
    background-image: url(../img/%D0%A5%D0%98%D0%A2%203.png);
    width: 61px;
    height: 61px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.item .price {
    font-size: 0;
    position: absolute;
    top: 80%;
    left: 0;
}

.item .price span {
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
}

.item .price-description {
    position: relative;
    margin-right: 30px;
    padding-right: 5px;
}

.item .price-description::after {
    background-image: url("../img/%D0%A0.svg");
    position: absolute;
    content: "";
    top: 10px;
    left: 100%;
    width: 32px;
    height: 32px;
}

.shop-description {
    background: #eee2cc url("../img/%D0%A4%D0%BE%D0%BD.jpg");
    padding: 25px 22px 0px 18px;
    margin-bottom: 40px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.shop-description p {
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 30px;
}

.shop-description ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.shop-description li {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    padding-bottom: 30px;
    padding-left: 55px;
    width: 48.85%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.shop-description li::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    left: 0;
    top: -10px;
}

.description-items .ice-cream::before {
    background-image: url(../img/ice-cream.svg);
}

.description-items .cow::before {
    background-image: url(../img/cow.svg);
}

.description-items .tree::before {
    background-image: url(../img/list.svg);
}

.description-items .temperature::before {
    background-image: url(../img/temper.svg);
}

.shop-description li:nth-of-type(odd) {
    margin-right: 2.3%;
}

.news-content {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.news-content .news {
    width: 48.837%;
    background: #ffffff url("../img/%D0%9A%D0%BB%D1%83%D0%B1%D0%BD%D0%B8%D1%87%D0%BD%D1%8B%D0%B9%20%D1%84%D0%BE%D0%BD1.png") no-repeat center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding-top: 25px;
    padding-left: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 2.326%;
}

.news h3 {
    padding: 0;
    margin: 0;
    max-width: 299px;
    font-weight: 500;
    color: #5a5a5a;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
}

.news p {
    margin: 0;
    padding: 0;
    max-width: 299px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    padding-bottom: 80px;
}

.news a {
    color: #000000;
}

.news a:hover,
.news a:active {
    color: #ec593c;
}

.news-content .subscription {
    width: 48.837%;
    padding-bottom: 40px;
    background: #ffffff url("../img/%D0%9F%D0%BE%D0%B4%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.subscription form {
    margin-top: 18px;
    position: relative;
}

.subscription p {
    padding: 0;
    margin: 0;
    color: #5a5a5a;
    padding-left: 26px;
    padding-top: 37px;
    padding-right: 22px;
    min-height: 86px;
}

.subscription-input {
    border: 1px solid #d3d3d2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto", sans-serif, "Arial";
    font-weight: 400;
    padding: 10px 10px 10px 12px;
    margin-left: 26px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    font-weight: 500;
}

.subscription label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    opacity: 1;
    color: #656565;
    position: absolute;
    top: 10px;
    left: 30px;
}

.subscription-input:focus+label {
    -webkit-transform: translateY(-27px);
    -ms-transform: translateY(-27px);
    transform: translateY(-27px);
    font-size: 11px;
    color: #5b9ddf;
}

.subscription .input-filled+label {
    font-size: 11px;
}

#map {
    background-image: url(../img/Layer%203.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 430px;
}

.contacts {
    border: 1px solid transparent;
}

.address-content {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 60px;
    width: 254px;
    background-color: #ffffff;
    padding: 33px 24px 29px 25px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.address-info {
    position: relative;
}

.address-content p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 23px;
}

.address-content span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

footer {
    padding-top: 19px;
    padding-bottom: 20px;
}

.social-block {
    font-size: 0;
    float: left;
    margin-right: 5.8%;
}

.social-block .social {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.8;
    border: 4px solid rgba(194, 206, 199, 0.5);
    margin-right: 12px;
    position: relative;
}

.social-block .social:hover {
    opacity: 0.98;
    border: 4px solid rgba(194, 206, 199, 0.71);
}

.social-block .social:active {
    opacity: 1;
    border: 4px solid rgba(194, 206, 199, 0.7);
    -webkit-box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
    box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
}

.social-block .social::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
}

.social-block .social-tw::before {
    background: url("../img/tw.svg");
    top: 0;
}

.social-block .social-inst::before {
    background: url("../img/inst.svg");
    top: 0;
}

.social-block .social-fb::before {
    background: url("../img/fb.svg");
    top: 0;
}

.social-block .social-vk::before {
    background: url("../img/vk.svg");
    top: 0;
}

.main-information-block {
    float: left;
    width: 45%;
}

.main-information {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.main-information li {
    display: inline-block;
    min-width: 166px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.main-information li .heart::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -25px;
    background: url("../img/%D0%A1%D0%B5%D1%80%D0%B4%D1%86%D0%B5.svg") no-repeat center;
}

.main-information a {
    color: #ffffff;
    font-size: 13px;
    line-height: 17px;
}

footer a:hover,
footer a:active {
    color: #ffbc9e;
}

.developer-information {
    float: right;
    width: 190px;
}

.developer-information span {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    vertical-align: top;
}

.developer-information a {
    color: #ffffff;
    vertical-align: top;
}

.breadcrumps {
    padding-bottom: 25px;
    font-size: 0;
}

.breadcrumps a,
.breadcrumps span {
    color: #ffffff;
    font-size: 14px;
    padding-right: 5px;
    margin-right: 15px;
    position: relative;
}

.breadcrumps a:hover,
.breadcrumps a:active {
    color: #ffbc9e;
}

.breadcrumps a::after {
    content: "\00BB";
    color: #ffffff;
    left: 100%;
    position: absolute;
}

.pages {
    float: right;
    font-size: 0;
    padding-bottom: 6px;
}

.breadcrumps h1 {
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    padding-top: 10px;
    color: #ffffff;
}

.pages a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 3px 9px;
}

.pages a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pages a:active {
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
}

.pages .active-page,
.pages .active-page:hover,
.pages .active-page:active {
    color: #000000;
    background-color: #ffffff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pages .prev {
    border-top: 2px solid #99ada1;
    border-left: 2px solid #99ada1;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    cursor: default;
    margin-right: 8px;
    padding: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.pages .next {
    border-bottom: 2px solid #eaeeec;
    border-right: 2px solid #eaeeec;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-right: 0;
    padding: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.item-select {
    font-size: 0;
}

.item-select input,
.item-select select {
    color: #ffffff;
    outline: none;
    opacity: 1;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 500;
}

.item-select legend {
    font-size: 14px;
    color: #ffffff;
    padding-bottom: 5px;
    font-weight: 500;
}

.item-select fieldset {
    border: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    vertical-align: top;
    line-height: 1.15;
    margin-bottom: 15px;
}

.item-select .fieldset-species {
    margin-bottom: 0;
}

.input-area {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 9px 15px;
    line-height: 1.3;
}

.sort-list:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.sort-list:hover select {
    color: #000000;
    font-weight: 700;
}

select:focus {
    color: #000000;
}

.input-area input {
    display: none;
}

.input-area label {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.quality-item label {
    padding-left: 47px;
    position: relative;
}

.quality-item label::before,
.quality-item label::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    top: -2px;
    left: 17px;
}

.quality-item label:hover::before {
    border: 2px solid #ffffff;
}

.quality-item label::after {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    top: 4px;
    left: 23px;
    display: none;
}

.quality-item input:checked+label::after {
    display: block;
}

.fieldset-species label::before {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.fieldset-species label::after {
    display: none;
    width: 10px;
    height: 7px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
}

.range-class {
    width: 186px;
    padding: 16px;
}

.output-area {
    font-size: 0;
    line-height: 0;
    padding-bottom: 5px;
}

.output-area label {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.output-area input {
    outline: none;
    width: 40px;
    text-align: center;
    display: inline-block;
    font-family: "Roboto", sans-serif, "Arial";
    font-weight: 500;
    border: none;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    padding: 0;
}

#rating {
    width: 188px;
}


/* Контейнер слайдера */

.ui-slider {
    position: relative;
}


/* Ползунок */

.ui-slider .ui-slider-handle {
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: rgb(248, 247, 244);
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}

.ui-slider-horizontal {
    height: 4px;
}


/* позиционируем ползунки */

.ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -10px;
}

.ui-slider-horizontal .ui-slider-handle:focus {
    outline: none;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}


/* оформление полосы по которой ходит ползунок */

.ui-widget-content {
    background: rgba(255, 255, 255, 0.5);
    border: none;
}


/* оформление активного участка (между двумя ползунками) */

.ui-widget-header {
    background: #ffffff;
}

.pop-up {
    z-index: 400;
    width: 425px;
    background-color: #ffffff;
    padding: 20px 30px 25px 25px;
    position: fixed;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: #f8f7f4;
}

.pop-up-active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    -webkit-animation: appearing 0.5s;
    animation: appearing 0.5s;
}

@-webkit-keyframes appearing {
    0% {
        top: 0;
        left: 50%;
    }
    100% {
        top: 50%;
        left: 50%;
    }
    ;
}

@keyframes appearing {
    0% {
        top: 0;
        left: 50%;
    }
    100% {
        top: 50%;
        left: 50%;
    }
    ;
}

.pop-up p {
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}

.pop-up input,
.pop-up textarea {
    border: 1px solid #d3d3d2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", sans-serif, "Arial";
    font-weight: 700;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
}

.pop-up .pop-up-form {
    position: relative;
}

.pop-up label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    opacity: 1;
    color: #656565;
}

.pop-up-input:focus+label {
    -webkit-transform: translateY(-27px);
    -ms-transform: translateY(-27px);
    transform: translateY(-27px);
    font-size: 11px;
    color: #5b9ddf;
}

.pop-up-input:hover {
    border: 2px solid #c7c6c5;
}

.pop-up-input:focus {
    border: 2px solid #8fbdec;
}

.pop-up input {
    width: 269px;
    margin-bottom: 20px;
    display: block;
}

.pop-up .input-filled+label {
    font-size: 11px;
}

.pop-up textarea {
    width: 100%;
    vertical-align: top;
}

.pop-up .close {
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    background-color: transparent;
}

.pop-up .close::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 2px;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
    right: 1px;
}

.pop-up .close::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 2px;
    background-color: #000000;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
    right: 1px;
}

.pop-up-error {
    -webkit-animation: bounce 0.5s;
    animation: bounce 0.5s;
}

@-webkit-keyframes bounce {
    0% {
        left: 55%;
    }
    50% {
        left: 45%;
    }
    100% {
        left: 50%;
    }
    ;
}

@keyframes bounce {
    0% {
        left: 55%;
    }
    50% {
        left: 45%;
    }
    100% {
        left: 50%;
    }
    ;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    display: none;
    position: fixed;
    background-color: rgba (0, 0, 0, 0.5);
}

.overlay-active {
    display: block;
}
